{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% block body %}

<div class="container">
    <div class="row mt-4 mb-4">
        <div class="col-md-6 offset-md-3">
            <div class="card shadow mt-4 bg-white rounded">
                <div class="card-header bg-info text-white">
                    <div class="card-title">
                        <h4>Logout</h4>
                    </div>
                </div>
                <div class="card-body">
                    <p>Thanks for visiting us. See you around Soon!</p>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}